.card-doctor .header .meta1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
    display: flex;
}

.card-doctor:hover .header .meta1 {
    bottom: 15px;
    visibility: visible;
    opacity: 1;
}

.card-doctor .header .meta1 a{
    color: rgb(255, 254, 254);
    background-color: rgba(95, 96, 97, 0.8);
    display: flex;
    justify-content: center;
    border-radius: 32px;
} 
.card-doctor .header .meta1 a:hover{
    text-decoration: none;
}

.alert button.btn-close {
    font-size: 2rem;
    position: absolute;
    right: 15px;
    top: 0;
}

.table-appointment thead{
    background-color: #2d3b38d1;
    color: #00D9A5;
}

.table-appointment thead th{
    font-weight: 100;
}

.table-appointment td ,.table-appointment th{
    text-align: center;
    align-items: center;
}

.table-appointment tbody{
    background-color: #cbc9c95c;
    color: #005742;
}

.table-appointment tbody tr{
    transition:background-color .3s;
}

.table-appointment td .rot{
    transform: rotate(223deg);
    position: relative;
    transition: left .5s;
    left: 0;
}

.table-appointment td .rot:hover{
    left: 5px;
}

div.appointment h5{

    color: #00D9A5;
    font-size: 20px;
}

div.appointment {
    background-color: #cbc9c95c;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px grey;
}       

a.back{
    background-image: url('../assets/img/exit.png');
}

table.table.table-appointment {
    box-shadow: 0px 0px 8px 0px grey;
}

footer div p#copyright {
    text-align: center;
    position: absolute;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #2D3B38;
    color: white;
    border-top:.005rem solid rgb(168, 167, 167);
}

img.hov:hover{
    transition: transform .5s;
}

img.hov:hover{
    transform: scale3d(1.06,1.06,1.06);
}