*::selection {
    background-color: #f8a1dbfa;
    color: #000000;
}

.card-doctor .header .meta1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
    display: flex;
}

.card-doctor:hover .header .meta1 {
    bottom: 15px;
    visibility: visible;
    opacity: 1;
}

.card-doctor .header .meta1 a{
    color: rgb(255, 254, 254);
    background-color: rgba(95, 96, 97, 0.8);
    display: flex;
    justify-content: center;
    border-radius: 32px;
} 
.card-doctor .header .meta1 a:hover{
    text-decoration: none;
}

.alert button.btn-close {
    font-size: 2rem;
    position: absolute;
    right: 15px;
    top: 0;
}

.table-appointment thead{
    background-color: #2d3b38d1;
    color: #00D9A5;
}

.table-appointment thead th{
    font-weight: 100;
}

.table-appointment td ,.table-appointment th{
    text-align: center;
    align-items: center;
}

.table-appointment tbody{
    background-color: #cbc9c95c;
    color: #005742;
}

.table-appointment tbody tr{
    transition:background-color .3s;
}

.table-appointment td .rot{
    transform: rotate(223deg);
    position: relative;
    transition: left .5s;
    left: 0;
}

.table-appointment td .rot:hover{
    left: 5px;
}

div.appointment h5{

    color: #00D9A5;
    font-size: 20px;
}

div.appointment {
    background-color: #cbc9c95c;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px grey;
}       

a.back{
    background-image: url('../assets/img/exit.png');
}

table.table.table-appointment {
    box-shadow: 0px 0px 8px 0px grey;
}

footer div p#copyright {
    text-align: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #2D3B38;
    color: white;
    border-top:.005rem solid rgb(168, 167, 167);
}

#container {
    min-height: 45vw;
}

img.hov:hover{
    transition: transform .5s;
}

img.hov:hover{
    transform: scale3d(1.06,1.06,1.06);
}

.add-doctors-form{
    width: 80%;
}

form label.upload-photo {
    background-color: #00D9A5;
    width: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 14px;
    color: white;
}

.fc-toolbar h2 {
    color: #00D9A5;
}

.fc-icon-left-single-arrow:after {
    content: "\2039";
    font-size: 110%!important;
    top: -7%;
}

.fc-icon-right-single-arrow:after {
    content: "\203A";
    font-size: 110%!important;
    top: -7%;
}

.fc .fc-toolbar.fc-header-toolbar {
    display: flex;
    justify-content: space-between;
}

.fc .fc-button {
    user-select: none;
    border: 1px solid #00D9A5;
    padding: 0 .5rem!important; 
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25em;
}

th.fc-day-header {
    padding: 10px!important;
    background-color: lightgrey;

}

.fc-row.fc-week.fc-widget-content {
    height: 100px!important;
}

.fc-scroller.fc-day-grid-container {
    height: auto!important;
}

.fc-unthemed td.fc-today {
    background: #69f1d1!important;
}

.fc-clear {
    clear: both;
    display: none!important;
}

tr:first-child > td > .fc-day-grid-event {
    margin-top: 2px;
    background-color: #3ecbaa!important;
    border: none;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    text-align: center;
    color: #005742;
}

.modal-dialog-centered{
    display: none;
}

.collapse {
    visibility: visible !important;
}

form.profile {
    max-width: 800px;
    margin: 0 auto;
}